/*
Frontend Mentor
FAQ Accordian Card Main
C Lewis
clewisdev.com
March 2022
*/

/******* VARIABLES *******/

:root {
    --bold-text-color: hsl(238, 29%, 16%);
    --question-text-color: hsl(240, 6%, 50%);
    --answer-text-color: hsl(240, 6%, 50%);  
    --text-color: hsl(238, 29%, 16%);
    --sign-color: hsl(14, 88%, 65%);
    --divider-color: hsla(240, 10%, 96%, 0.349);
  }

  
/****** GLOBAL STYLES ******/

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

}

h1 {
    color: var(--bold-text-color);
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

hr {
    color: var(--divider-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/****** MAIN CONTAINER STYLING ******/

.main-container {
    width: 375px;
    margin: 0 auto;
    padding-right: 1.5rem;
    display: grid;
    grid-template-areas: 
    "images"
    "faq";
}

/****** IMG STYLING ******/


/*background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;*/

.image-container{
    /*background: url("images/illustration-woman-online-desktop.svg") no-repeat 100% 45%, 
    url("images/bg-pattern-desktop.svg") no-repeat 100% 72%;*/
    background: url("images/illustration-woman-online-mobile.svg") /*center/100%*/ no-repeat, 
    url("images/bg-pattern-mobile.svg") /*center/100%*/ no-repeat;
    /*position: relative;*/
    
}

/*.image-container {
    grid-area: images;
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 150px;
}*/

.boximage {
  position: relative;
  left: -10%;
}

/*.personimage {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    margin: 0 auto;
    margin-top: .75rem;
}

.desktopbg {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    margin: 0 auto;
    margin-top: -1rem;
}*/

/****** ACCORDIAN STYLING ******/

.faq-container {
    grid-area: faq;
    background-color: white;
    margin-bottom: 5rem;
    padding: 1.5rem;
    padding-bottom: 3rem;
    border-radius: 2rem;
    box-shadow: 1px 32px 32px 5px #27242450;
    
}

/*.accordian {
   background: white;
}*/

/* setting up functionality
/* set position property for each container
/* that holds label and content to relative
/* can position children relative to it*/


/* positions labels relative to the container*/

.label {
    color: var(--question-text-color);
    position: relative;
    padding: .5rem 0;
    font-size: 1em;
    cursor: pointer;
}

/* adding ^ */

.label::before {
    content: '^';
    color: var(--sign-color);
    font-size: 1.5em;
    font-weight: 700;
    position: absolute;
    right: .25rem;
    transform: rotate(180deg);
}

.content {
    position: relative;
    background: white;
    color: var(--answer-text-color);
    height: 0;
    font-size: 1em;
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
}


/****** ACTIVE CLASS FOR JS ******/


/* Unhides the content part when active. Sets the height */

.accordion .container.active .content {
    height: 150px;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }    


  /****** MEDIA QUERIES ******/

@media (min-width: 1000px) {

body {
    background-color: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.main-container {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-areas: 
    "images faq";
}

.image-container{
    /*background: url("images/illustration-woman-online-desktop.svg") no-repeat 100% 45%, 
    url("images/bg-pattern-desktop.svg") no-repeat 100% 72%;*/
    background: url("images/illustration-woman-online-desktop.svg") left/100% no-repeat, 
    url("images/bg-pattern-desktop.svg") left/100% no-repeat;
    position: relative;
    left: -10%;
}

.faq-container {
    grid-area: faq;
    /*background-color: white;*/
    margin-bottom: 0;
    padding: 1.5rem;
    padding-bottom: 0;
    border-radius: none;
    box-shadow: none;
    
}

h1 {
    margin-top: 0;
    text-align: left;
}

}










/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
*/