/*
Frontend Mentor
FAQ Accordian Card Main
C Lewis
clewisdev.com
March 2022
Revamp: December 2022
*/


/******* VARIABLES *******/

:root {

    --text-very-dark-desaturated-blue: hsl(238, 29%, 16%)
    --text-soft-red: hsl(14, 88%, 65%)
    --text-very-dark-grayish-blue: hsl(237, 12%, 33%)
    --text-dark-grayish-blue: hsl(240, 6%, 50%)
    
    /* Background gradient: */
    --grad1-soft-violet: hsl(273, 75%, 66%)
    --grad2-soft-blue: hsl(240, 73%, 65%)
    
    --dividers-light-grayish-blue: hsl(240, 5%, 91%)
  
    --ff: 'Kumbh Sans', sans-serif;

    --br: 2rem;

    --fs-s-mobile: 12px;
    --fs-m-mobile: 13px;
    --fs-l-mobile: 32px;
    --fs-m-desktop: 14px;
}


  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/****** MOBILE FIRST DESIGN ******/
  /****** GLOBAL STYLES ******/

body {
    font-family: var(--ff);
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    
}










/****** ACCORDIAN STYLING ******/

.faq-container {
    grid-area: faq;
    background-color: white;
    margin-bottom: 5rem;
    padding: 1.5rem;
    padding-bottom: 3rem;
    border-radius: 2rem;
    box-shadow: 1px 32px 32px 5px #27242450;
    
}

/*.accordian {
   background: white;
}*/

/* setting up functionality
/* set position property for each container
/* that holds label and content to relative
/* can position children relative to it*/


/* positions labels relative to the container*/

.label {
    color: var(--question-text-color);
    position: relative;
    padding: .5rem 0;
    font-size: 1em;
    cursor: pointer;
}

/* adding ^ */

.label::before {
    content: '^';
    color: var(--sign-color);
    font-size: 1.5em;
    font-weight: 700;
    position: absolute;
    right: .25rem;
    transform: rotate(180deg);
}

.content {
    position: relative;
    background: white;
    color: var(--answer-text-color);
    height: 0;
    font-size: 1em;
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
}


/****** ACTIVE CLASS FOR JS ******/


/* Unhides the content part when active. Sets the height */

.accordion .container.active .content {
    height: 150px;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }  
  
  /****** MEDIA QUERIES - DESKTOP DESIGN ******/




/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
*/